.checkbox{
  margin-bottom: 15px;
  width: max-content;
}
.checkbox__label {
  display: flex;
  cursor: pointer;
  column-gap: 10px;
  align-items: center;
  user-select: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.checkbox__box {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.33), inset 0px -2px 4px rgba(0, 0, 0, 0.32);
  transition: 0.3s;
}

.checkbox__input:checked+.checkbox__box {
  background-color: #ad8810;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}