.card-popup {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
  z-index: 100;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0s 0.15s;
  color: #fff;
}

.card-popup.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  transition: 0.2s;
}

.card-popup__content {
  position: relative;
  background-color: #151515;
  border-radius: 15px;
  padding: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
  width: 1000px;
}

.card-popup__image {
  height: 300px;
  width: 300px;
}

.card-popup__image img{
  object-fit: cover;
}

.card-popup__title{
  font-size: 30px;
}

.card-popup__description{
  margin-top: 30px;
}

.card-popup__rating-block{
  display: flex;
  align-items: center;
  margin-top: 12px;
  column-gap: 10px;
  font-size: 18px;
}

.card-popup__close-button{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: inherit;
}

@media (max-width: 1024px) {
  .card-popup__content{
    grid-template-columns: 1fr;
    width: 90vw;
  }
  .card-popup__left-block{
    display: flex;
    justify-content: center;
  }
  .card-popup__close-button{
    top: 3px;
  }
}