.result-item {
  min-height: 150px;
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.result-item:not(:last-child) {
  border-bottom: 2px solid #ad8810;
}

.result-item:last-child {
  padding-bottom: 0;
}

.result-item__image {
  width: 200px;
  max-height: 110px;
}

.result-item__image img {
  object-fit: cover;
  border-radius: 5px;
}

.result-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.result-item__title {
  font-size: 22px;
  line-height: 1;
}

.result-item__sort {
  font-weight: 600;
}

.result-item__icon {
  height: 20px;
  width: 20px;
  padding: 2px;
  border-radius: 5px;
  background-color: #71C13B;
}

.result-item__geo {
  display: flex;
  column-gap: 10px;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  text-align: left;
  color: inherit;
}

.result-item__more {
  width: max-content;
  padding: 0;
  color: #fff;
}

@media (max-width: 585px) {
  .result-item {
   flex-direction: column;
  }
  .result-item__image{
    align-self: center;
    max-height: 100%;
  }
}