.result-item {
  height: 150px;
  display: flex;
  column-gap: 20px;
  padding: 20px 0;
}

.result-item:not(:last-child) {
  border-bottom: 2px solid #ad8810;
}

.result-item__image {
  width: 200px;
}

.result-item__image img {
  object-fit: cover;
  border-radius: 5px;
}

.result-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-item__title {
  font-size: 22px;
  line-height: 1;
}

.result-item__sort {
  font-weight: 600;
}

.result-item__icon {
  height: 20px;
  width: 20px;
  padding: 2px;
  border-radius: 5px;
  background-color: #71C13B;
}

.result-item__geo {
  display: flex;
  column-gap: 10px;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

/* .result-item__geo::after {
  content: 'Показать на карте';
  position: absolute;
  bottom: -18px;
  left: 5px;
  color: #828282;
  font-size: 15px;
  visibility: hidden;
}

.result-item__geo:hover:after {
  visibility: visible;
} */

.result-item__more{
  width: max-content;
  padding: 0;
  color: #fff;
}