.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
  display: grid;
  place-content: center;
}

.main__content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main__title {
  font-size: 45px;
}

.main__text {
  margin-top: 20px;
  font-size: 25px;
}

.main__background {
  position: absolute;
  object-fit: cover;
  object-position: center;
  transform: scale(1.01);
  z-index: 0;
  filter: blur(3px) brightness(50%);
}

.main__button-down {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 30px;
  left: calc(50% - 45px /2);
  transition: 0.5s;
  animation: blink 2s infinite linear;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.shampur__left{
  position: absolute;
  top: -100px;
  left: calc(50% - 70px/2);
  z-index: 2;
}

.shampur__right{
  position: absolute;
  top: -100px;
  left: calc(50% - 70px/2);
  transform: scaleX(-1);
  z-index: 2;
}