.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
  display: grid;
  place-content: center;
}

.main__content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.main__title {
  font-size: 45px;
}

.main__text {
  margin-top: 20px;
  font-size: 25px;
}

.main__background {
  position: absolute;
  object-fit: cover;
  object-position: center;
  transform: scale(1.01);
  z-index: 0;
  animation: backgroundAnim 1.5s 0.5s forwards;
}

.main__button-down {
  position: absolute;
  width: 86px;
  height: 86px;
  bottom: 10px;
  left: calc(50% - 86px /2);
  transform: translateY(-20px);
  opacity: 0;
  animation: arrowDown 1s 2s ease-in-out forwards;
}

@keyframes backgroundAnim {
  from {
    filter: blur(0) brightness(100%);
  }

  to {
    filter: blur(3px) brightness(50%);
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}