.filters {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  position: relative;
  padding: 7px;
}

.filters__background {
  position: absolute;
  object-fit: cover;
  filter: brightness(50%);
  z-index: 0;
}

.filters__content {
  position: relative;
  z-index: 1;
}

.filters__block {
  background-color: rgba(21, 21, 21, 0.9);
  border-radius: 15px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters__form {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  color: #dbbb37;
  max-height: 100%;
}

.filters__form-grid {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filters__title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
}

.filters__submit {
  background-color: #ad8810;
  font-weight: 600;
  padding: 10px 40px;
  width: max-content;
  align-self: center;
  border-radius: 15px;
  transition: 0.5s;
}

.filters__submit:hover {
  background-color: #8e7110;
}

.filters__price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters__price-input {
  border: none;
  font-weight: 600;
  padding: 5px 20px 5px 10px;
  font-size: 18px;
  width: 70px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  color: inherit;
  transition: 0.1s;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.33), inset 0px -2px 4px rgba(0, 0, 0, 0.32);
}

.filters__price-input:disabled {
  filter: grayscale(1);
  background-color: #646464;
}

.filters__price-label {
  position: relative;
  transition: 0.1s;
}

.filters__price-label.disabled {
  filter: grayscale(1);
  user-select: none;
}

.filters__price-label::after {
  content: '\20BD';
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 5px;
}

.filters__districts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.filters__radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 10px 30px;
}

.filters__other-params {
  width: 100%;
}

.filters__form-group {
  display: flex;
  column-gap: 15px;
  font-size: 18px;
}

.filters__slider {
  height: 30px;
  width: 250px;
  margin: 12px 0;
}

.filters__slider-track {
  height: 8px;
  background-color: #dbbb37;
  top: 50%;
  transform: translateY(-50%);
}

.filters__slider-track-2,
.filters__slider-track-0 {
  background-color: #494949;
}

.filters__slider-thumb {
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 5px rgba(0, 0, 0, 0.37), inset 0px -2px 5px rgba(0, 0, 0, 0.47);
}

@media (max-width: 767px) {
  .filters__title {
    margin-bottom: 10px;
    font-size: 17px;
  }

  .filters__slider {
    margin: 10px 0;
  }

  .filters__block {
    padding: 10px;
  }

  .filters__radio-group {
    gap: 7px 15px;
  }

  .filters__districts-block {
    gap: 8px;
  }

  .filters__form-group {
    font-size: 15px;
  }

  .filters__price-label::after {
    top: 8px;
  }
}