.filters {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  position: relative;
}

.filters__background {
  position: absolute;
  object-fit: cover;
  filter: brightness(50%);
  z-index: 0;
}

.filters__content {
  position: relative;
  z-index: 1;
}

.filters__block {
  background-color: rgba(21, 21, 21, 0.9);
  border-radius: 15px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters__form {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  color: #dbbb37;
}

.filters__title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.filters__submit {
  background-color: #ad8810;
  font-weight: 600;
  padding: 10px 40px;
  width: max-content;
  align-self: center;
  border-radius: 15px;
  transition: 0.5s;
}

.filters__submit:hover {
  background-color: #8e7110;
}

.filters__price-block {
  display: flex;
  column-gap: 15px;
  font-size: 18px;
}

.filters__price-input {
  border: none;
  font-weight: 600;
  padding: 5px 20px 5px 10px;
  font-size: 18px;
  width: 70px;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  color: inherit;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.33), inset 0px -2px 4px rgba(0, 0, 0, 0.32);
}
.filters__prace-label{
  position: relative;
}
.filters__prace-label::after{
  content: '\20BD';
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 5px;
}

.filters__districts-block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.filters__other-params{
  width: 100%;
}