* {
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}

* {
  scrollbar-color: #9f8621 transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9f8621;
  border-radius: 5px;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}